

.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #232234;
}
.wrap {
    width: 100%;
    background: #232234;
}
.header {
    display: flex;
    background: #3a3949;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    position: fixed;
    width: 100%;
}
.header_logo {
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    margin: 15px;
}
.header_top-menu a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.header_top-menu a:hover {
    border: 1px solid #ffffff;
}
.content {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
}
.content_box {
    flex-direction: column;
    width: 100%;
    margin: 10px;
}
.content_item {
    margin: 15px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    background: #ffffff;
}
.content_img {
    min-width: 320px;
    height: 240px;
}
.content_img img {
    height: 100%;
    background: white;
}
.content_info {
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.content_info-title {
    font-weight: 700;
    font-size: 200%;
    text-transform: uppercase;
}
.content_info-price {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}
.sidebar {
    border-left: 1px solid #3a3949;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.sidebar a {
    background: #3a3949;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 10px -5px 25px;
}
.sidebar a:hover {
    border: 1px solid #ffffff;
}
.footer {
    display: flex;
    justify-content: center;

}
.footer {
    color: #5e5e5e;
    display: flex;
    justify-content: center;
}